
<h2> Dr. Horrible's Appointment Schedule </h2>
<h4><span style="font-style: italic;"> He has a PhD in Horribleness </span></h4>

<table>
	<thead>
		<tr>
			<th> Date </th>
			<th> Time </th>
			<th> Patient </th>
			<th> Complaint </th>
			<th> Options </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td> {{ item.datetime | date }}  </td>
			<td> {{ item.datetime | date: 'h:mm' }}  </td>
			<td> {{ item.patient }} </td>
			<td> {{ item.complaint }} </td>
			<td *ngIf="(item.patient === currentUser.name)">
				<button (click)="deleteItem($event, item._id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>


<p><a [routerLink]="['../add']"><button>Add a New Appointment</button></a></p>

